/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:wght@200;300&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(49, 100%, 50%);
  --first-color-alt: hsl(49, 100%, 60%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: hsl(219, 4%, 4%);
  --container-color: hsl(219, 4%, 7%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --title-font: "Lora", sans-serif;
  --title-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 968px) {
  :root {
    --title-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
.main {
  width: 100%;
  overflow: hidden;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  position: relative;
  max-width: 1024px;
  padding: 0 2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  width: 100%;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.section-title {
  font-family: var(--title-font);
  font-size: var(--title-size);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 3rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  padding: 0 2rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  color: var(--title-color);
  display: inline-flex;
}
.nav-toggle i {
  font-size: var(--title-size);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 10rem;
    transition: 0.3s;
}
.logo:hover img {
  transform: scale(1.1);
}
.nav-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-toggle i {
    color: var(--body-color);
}
@media screen and (max-width: 767px) {
  .nav {
    position: fixed;
    background-color: hsla(0, 0%, 13%, 0.9);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(96px);
    transition: 0.3s;
  }
}
.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}
.nav-link {
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--first-color);
}
.nav-close {
  font-size: 2rem;
  color: var(--white-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}
/*=============== HOME ===============*/
.home {
  width: 100%;
  text-align: center;
  padding-top: 7rem;
  min-height: 100vh !important;
}
.home-data {
  text-align: center;
  padding-bottom: 5rem;
}
.home-image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-image img {
  width: 350px;
}
.back-grounds {
  position: absolute;
  width: 100%;
}
.back-1 {
  bottom: 0;
}
.back-1 img {
  position: relative;
  justify-self: center;
  width: 400px;
  z-index: -1;
}
.back-2 {
  bottom: 15rem;
  height: 40px;
}
.back-2 img {
  width: 100%;
  height: 300px;
} 
.back-3 {
  bottom: 4rem;
  height: 40px;
}
.back-3 img {
  width: 100%;
  height: 150px;
}

/*=============== ABOUT ===============*/

.about {
  padding-top: 7rem;
}
.about .about-image {
  margin-top: 2rem;
}
.about .about-image img {
  width: 500px;
}
.data-text {
  font-size: var(--normal-font-size);
}
.data-text p {
  padding-bottom: 2rem;
}

/*=============== PERKS ===============*/

.perks {
  background-color: var(--container-color);
  width: 100%;
  padding-top: 7rem;
}
.perks-slider {
  padding: 3rem 1rem;
}
.perks-card {
  position: relative;
  width: 400px;
  padding: 2rem 1.5rem 1.5rem;
  overflow: hidden;
}
.perks-card img {
  width: 100%;
  border-radius: 1rem;
}
/* Swiper class */
.swiper-pagination-bullet {
  background: var(--text-color);
}
.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}
.cont {
  margin: 20px auto;
  display: none;
  width: 500px;
  height: 350px;
  border: solid 2px #31322C;
  overflow: hidden;
  position: relative;
}

.image {
  display: flex;
  width: 2000px; /* 4 images × 500px each */
  animation: slide 8s infinite;
}

.image .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 350px;
  background-color: var(--body-color);
}

.image .item img {
  width: 200px;
}

/* Keyframes for automatic sliding */
@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-500px); }
  50% { transform: translateX(-1000px); }
  75% { transform: translateX(-1500px); }
  100% { transform: translateX(0); }
}



.sperks-notes {
  width: 100%;
  position: relative;
  gap: initial;
  padding: 4rem 0;
  background-color: var(--container-color);
  transition: .4s;
  display: flex;
  flex-direction: column;
  transition: .5s linear ease-in-out;
}
.data-notes {
  position: relative;
  width: 100%;
  transition: .5s linear ease-in-out;
}
.data-notes span {
  padding: 0rem 2rem;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 36%);
  transition: .5s linear ease-in-out;
}
.data-notes span i {
  cursor: pointer;
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
  transition: .5s linear ease-in-out;
}
.data-notes h3 {
  font-size: var(--normal-font-size);
}
.data-notes p {
  display: none;
  background-color: hsl(0, 0%, 36%);
  padding: 3rem 4rem 7rem 4rem;
  transition-delay: 1s;
  transition: .5s linear ease-in-out !important;
}
.note-text.show {
  display: block;
}
.last-child {
  border-bottom: none !important;
}

/* =============== BOXING ================ */

.box-slides {
  padding: 0;
  width: 350px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.box-slides * {
  user-select: none;
}
.box-slides input { display: none; }

.box-slide-container { display: block; }

.box-slide {
  top: 0;
  opacity: 0;
  width: 350px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}
.box-slide img {
  width: 100%;
  height: 100%;
  justify-self: center;
}

.nav-box label {
  width: 80px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.box-slide:hover + .nav-box label { opacity: 0.5; }

.nav-box label:hover { opacity: 1; }

.nav-box .next { right: 0; }


.box-slides input:checked + .box-slide-container  .box-slide {
  opacity: 1 !important;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

.box-slides input:checked + .box-slide-container .nav-box label { display: block; }


.box-nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.box-nav-dots .box-nav-dot { 
top: -5px;
width: 11px;
height: 11px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(255, 255, 255, .3);
}

.box-nav-dots .box-nav-dot:hover {
cursor: pointer;
background-color: var(--first-color);
}

input#box-img-1:checked ~ .box-nav-dots label#box-img-dot-1,
input#box-img-2:checked ~ .box-nav-dots label#box-img-dot-2,
input#box-img-3:checked ~ .box-nav-dots label#box-img-dot-3,
input#box-img-4:checked ~ .box-nav-dots label#box-img-dot-4,
input#box-img-5:checked ~ .box-nav-dots label#box-img-dot-5,
input#box-img-6:checked ~ .box-nav-dots label#box-img-dot-6 {
background: var(--first-color);
} 


.boxing-data-text {
  padding-top: 2rem;
   display: grid;
   gap: 1.75rem;
   padding-bottom: 3rem;
}


/* ========== YOUTH ========= */

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.youth-program {
  background-color: var(--container-color);
}
.slides {
    padding: 0;
    width: 350px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 350px;
    height: 420px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    justify-self: center;
}

.nav label {
  width: 80px;
    height: 100%;
    display: none;
    position: absolute;
	  opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .3);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: var(--first-color);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: var(--first-color);
}

.youth-data {
  padding: 1.25rem 0;
}
.youth-data .section-subtitle {
  font-size: var(--h3-font-size);
  padding-bottom: 1.75rem;
  font-weight: 400;
}
.youth-data .youth-text1 {
  padding-bottom: 1.25rem;
}
/* ============= TEAM =========== */

.couch {
  min-width: 200px;
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: .1px solid var(--text-color);
}
.couch .visible {
  min-width: 200px;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.couch .couch-image {
  justify-self: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.couch .couch-image img {
  justify-self: center;
  height: 100%;
  width: 100%;
}
.couch-about {
  transition: all 0.4s ease;
  opacity: 0;
}
.couch-about.show {
  display: block;
  opacity: 1;
}

.couch-about .info-about {
  margin: 2rem;
}
.couch-about .c-about {
  padding-top: 2rem;
  margin-left: 2rem;
}
.contact-couch {
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: var(--body-color);
}
.contact-couch h3 {
  padding-bottom: 1rem;
}
.couch-social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
  padding: 0 2rem;
}
.couch-social-media i {
  cursor: pointer;
}
/* ========== CLASSES ========= */

.classes {
  margin-top: 3rem;
	background-color: var(--container-color);
}

.classes .box {
	max-width: 100%;
}

.classes .text {
  display: grid;
}
.classes .text h2 {
  text-align: center;
  font-size: var(--h3-font-size);
  padding-bottom: 1rem;
}
.classes .text p {
  text-align: center;
  margin-bottom: 3rem;
}
.classes .text img {
	width: 400px;
  justify-self: center;
}

.classes .timing .table{
	width: 100%;
	border-collapse: collapse;
}

.classes .timing .table td{
	border: 1px solid var(--text-color);
	padding: 10px 20px;
	font-size: var(--small-font-size);
	text-align: center;
	color:var(--text-color);
}

.classes .timing .table tr:nth-child(even) td.day{
	background-color: var(--container-color);
  border: 1px solid var(--text-color);
}
.classes .timing .table tr:nth-child(odd) td.day{
  border: 1px solid var(--text-color);
	background-color: #444444;
}
.classes .timing .table tr:nth-child(1) td.day{
	background-color: var(--first-color);
}
.classes .timing .table tr td.day{
	color: var(--white-color);
	border-color:transparent;
}



/* ========== MEMBERSHIPS ========= */
.memberships {
  padding-bottom: 4rem;
  display: grid;
  justify-content: center;
}
.memberships .card {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: var(--container-color);
}
.memberships .card .content {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem 0;
}
.memberships .card .content h4 {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  letter-spacing: .75px;
}
.memberships .card .top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 0 3rem;
  border-bottom: 1px solid var(--first-color);
}
.memberships .card .buttom {
  padding: 3rem 0;
  display: grid;
  gap: 1rem;
}
.memberships .card button {
  cursor: pointer;
  padding: 1.75rem 0;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: var(--h2-font-size);
}

/* ========== CONTACT ========= */
.book {
  background-color: var(--container-color);
}
.book .section-subtitle {
  text-align: center;
  font-weight: 300;
  font-size: var(--h3-font-size);
}
.book .container {
  display: flex;
  justify-content: center;
}
.book form {
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  padding: 3rem 2rem;
}
.book form .one {
  display: grid;
  gap: 1.25rem;
  padding-bottom: 1.75rem;
  grid-template-columns: repeat(2, 1fr);
}
.book form .one .feild {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.book form .one .feild input {
  padding: .75rem;
  border: var(--text-color) 1px solid;
  outline: none;
  color: var(--text-color);
  background-color: var(--container-color);
}
.book form .message {
  padding-bottom: .5rem;
}
.book form textarea {
  background-color: var(--container-color);
  color: var(--text-color);
  border-color: var(--text-color);
  outline: none;
}
.book form button {
  cursor: pointer;
  margin-top: 2.5rem;
  width: 200px;
  padding: .95rem;
  color: var(--white-color);
  letter-spacing: 1px;
  font-size: var(--h3-font-size);
  background-color: var(--first-color);
  border: none;
  outline: none;
}
.start {
  background-color: var(--container-color);
}
.start .start-data h2 {
  font-size: var(--h3-font-size);
  padding-bottom: .75rem;
}
.start .start-data p {
  font-size: var(--small-font-size);
  padding-bottom: .75rem;
}
.start .start-image {
  margin-bottom: 3rem;
}
/* ========== FOOTER ========= */
footer {
  padding: 3rem 1.75rem;
}
footer .container {
  display: grid;
  gap: 1.5rem;
}
.foot-logo img {
  width: 200px;
}
footer .grid {
  justify-content: start;
}
footer .container h3 {
  font-size: var(--normal-font-size);
  padding-bottom: .75rem;
}
footer .container p {
  font-size: var(--small-font-size);
  padding-bottom: .5rem;
}
footer .container .social-info {
  display: flex;
  flex-direction: column;
}
footer .container .social-info a {
  color: var(--text-color);
}
.copy-right {
  font-size: var(--small-font-size);
  padding-top: 3rem;
  display: block;
  text-align: center;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 370px) {
  .home-image img {
    width: 250px;
  }
  .back-1 {
    bottom: 6rem;
  }
  .back-1 img {
    width: 300px;
  }
  .back-3 {
    bottom: 4rem;
    height: 40px;
  }
  .perks-card {
    width: 300px;
  }
  .couch {
    font-size: var(--small-font-size);
  }
  .memberships .card {
    width: 280px;
    font-size: var(--small-font-size);
  }
  .memberships .card .content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 0;
  }
  .memberships .card .top {
    gap: 2rem;
    padding: 0 0 2rem;
  }
  .memberships .card .buttom {
    padding: 2rem 0;
  }
  .memberships .card button {
    font-size: var(--h3-font-size);
  }
  .classes .timing .table td{
    padding-right: 0;
    padding-left: 0;
    font-size: var(--smaller-font-size);
  }
  .box-slides , .box-slide , .slides, .slide {
    width: 250px;
    height: 300px;
  }
  .book form {
    width: 300px;
    padding: 3rem .5rem;
  }
  .book form .one {
    grid-template-columns: repeat(1, 1fr);
  }
  .book form .one .feild {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .book form .one .feild input {
    padding: .5rem;
    width: 250px;
  }
}
@media screen and (min-width: 370px) and (max-width: 450px) {
  .perks-card {
    width: 320px;
  }
  .classes .timing .table td{
    padding-right: 0;
    padding-left: 0;
    font-size: var(--smaller-font-size);
  }
  .book form {
    min-width: 200px;
    padding: 3rem .5rem;
  }
  .book form .one {
    grid-template-columns: repeat(2, 1fr);
  }
  .book form .one .feild {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .book form .one .feild input {
    padding: .5rem;
    width: 150px;
  }
}
/* For medium devices */

@media screen and (min-width: 767px) {

  .header {
    height: calc(var(--header-height) + 1.5rem);
    padding: 0 3rem;
  }
  .nav-close,
  .nav-toggle {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
    padding-top: 0;
  }
  .nav-link {
    color: var(--body-color);
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .classes .text h2, .classes .text p {
    text-align: initial;
  }
  .perks-card {
    width: 500px;
    display: flex;
    justify-content: center;
  }
  .perks-card img {
    width: 400px;
  }
  .team .container, 
  .team .container, 
  .youth-program .container, 
  .boxing .container, 
  .about .container,
  .classes .container,
  .memberships .container {
    align-items: center;
    padding-bottom: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .classes .timing .table td{
    padding-right: 0;
    padding-left: 0;
    font-size: var(--normal-font-size);
  }
  footer .grid {
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .sperks-notes {
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .left i, .right i {
    display: none;
  }
  .data-notes span {
    padding: 0 .75rem;
    border-bottom: none;
  }
  .data-notes p {
    display: block;
    background-color: var(--container-color);
    padding: 0 .75rem;
    line-height: 20px;
  }
  .cont {
    display: inline-block;
  }
  .memberships .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .book form .one .feild input {
    width: 300px;
  }
  .book form button {
    width: 300px;
  }
  .home .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-image img {
    position: absolute;
    top: 12rem;
    right: 0;
    width: 400px;
  }
  .back-1 {
    right: -18rem;
  }
  .back-1 img {
    width: 450px;
  }
  .home-data {
    text-align: initial;
    padding-top: 7rem;
  }
  .home-data h2 {
    text-align: initial;
  }
  .memberships .container {
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
  footer .grid {
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
  }
  
}